{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_list %}
{{title}}
{% endblock head_list %}
{% block content %}
<h1>Form</h1>
<form method="POST" action="">{% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.casenumber|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.address|as_crispy_field }}
      </div>
    </div>
    {{ form.auctionday|as_crispy_field }}
    {{ form.auctionlevel|as_crispy_field }}
    {{ form.floorprice|as_crispy_field }}
    {{ form.margin|as_crispy_field }}
    {{ form.creditor|as_crispy_field }}
    {{ form.debtor|as_crispy_field }}
    <input type="submit" value="Create Post">
</form>
{% endblock content %}

